body {
  font-family: sans-serif;
}

h1, h2, h3 {
  color: #333333;
  text-decoration: none;
  font-family: "Arial Narrow", "Arial", sans-serif;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #AAAAAA;
}

h1 { font-size:1.6em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1em; }

a:link { color: #0000FF; text-decoration: none; }
a:visited { color: #6666CC; text-decoration: none; }
a:hover { color: #FF3333; text-decoration: underline; }

td.gstnavside-r, td.gstnavside-g, td.gstnavside-b {
  border-left-width: 4px;
  border-left-style: solid;
}

td.gstnavside-r { background-color:#CCAAAA; border-left-color: #CCAAAA; }
td.gstnavside-g { background-color:#AACCAA; border-left-color: #AACCAA; }
td.gstnavside-b { background-color:#AAAACC; border-left-color: #AAAACC; }
td.gstnavside-r:hover { border-left-color: #FFAAAA; }
td.gstnavside-g:hover { border-left-color: #AAFFAA; }
td.gstnavside-b:hover { border-left-color: #AAAAFF; }

a.gstnavside-r, a.gstnavside-g, a.gstnavside-b {
  text-decoration: none; font-family: "Arial", sans-serif;
  padding-left: 3px;
  padding-right: 3px;
}
a.gstnavside-r:link, a.gstnavside-g:link, a.gstnavside-b:link { 
  color: #000000;
}
a.gstnavside-r:visited, a.gstnavside-g:visited, a.gstnavside-b:visited {
  color: #000000;
}
a.gstnavside-r:hover { color: #CC3333; }
a.gstnavside-g:hover { color: #33CC33; }
a.gstnavside-b:hover { color: #3333CC; }

.right { text-align: right; }

/* task pages */

.task-header {
  background: lightblue;
  margin: 2px;
  min-width: 100%;
  padding: 3px;
}

.task-body {
  background: lightgrey;
  margin: 2px;
  min-width: 100%;
  padding: 3px;
}

.task-text {
  margin: 2px;
  padding: 3px;
}
.task-cell {
  padding-right: 20px;
}

.task-word {
  background: #e98080;
  margin: 3px;
  padding: 3px;
}

.task-footer {
  font-size: small;
  background: lightgreen;
  margin: 2px;
  min-width: 100%;
  padding: 3px;
}

.task-nav {
  text-align: right;
}

                                                                               
.task {
  min-width: 100%;
  padding-bottom: 12pt;
}

